<div class="relative hover:scale-105 transition-transform duration-200 w-[240px] md:w-[470px] h-[140px] md:h-[230px] rounded-xl overflow-hidden shadow-gray-950 shadow-lg cursor-pointer">
  <img [src]="thumbnails[index].urls.regular" alt="{{ movie?.title }}" class="object-cover w-full h-full" />
  <div class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/80 to-transparent text-white">
    <div class="text-sm opacity-75">{{ movie?.year }} • {{ movie?.category }} • {{ movie?.rating }}</div>
    <div class="text-lg font-semibold">{{ movie?.title }}</div>
  </div>
</div>
