<!-- <div class="rounded border shadow">
  <div id="image"></div>
  <div id="info">
    <div>{{ movie?.year }} . {{ movie?.category }} . {{ movie?.rating }}</div>
    <span class="font-bold"> {{ movie?.title }}</span>
  </div>
</div> -->

<div
  class="rounded-xl overflow-hidden shadow shadow-gray-950 hover:scale-105 transition-transform duration-200 cursor-pointer mb-4 min-w-[250px] max-w-[420px] flex flex-col justify-between"
>
  <img [src]="thumbnails[index].urls.small" alt="{{ movie?.title }}" class="w-full h-[90px] sm:h-[120px] object-cover" />
  <div class="p-2 text-sm">
    <div class="opacity-60">{{ movie?.year }} • {{ movie?.category }} • {{ movie?.rating }}</div>
    <div class="font-semibold mt-1">{{ movie?.title }}</div>
  </div>
</div>
